<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Todo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="../vue.min.js"></script>
</head>
<body>
    <div>
        <input type="text" class="todo-input" placeholder="What needs to be done" v-model="newTodo" @keyup.enter="addTodo">
        <div v-for="(todo, index) in todos" :key="todo.id" class="todo-item"> 
            <div>
                {{ todo.title }}
            </div>
            <div class="remove-item" @click="removeTodo(index)">
                &times;
            </div>
        </div>
    </div>
    <script>
        var example1 = new Vue({
              name: 'todo list',
              data () {
                  return {
                      newTodo: '',
                      idForTodo: 3,
                      todos: [
                          {
                              'id': 1,
                              'title': 'Hello world',
                              'completed': false,
                          },
                          {
                              'id': 2,
                              'title': 'Bye world',
                              'completed': false,
                          }
                      ]
                  }
              },
              methods: {
                  addTodo() {
                      if (this.newTodo.trim().length == 0) {
                          return
                      }
                      this.todos.push({
                          id: this.idForTodo,
                          title: this.newTodo,
                          completed: false,
                      })

                      this.newTodo = ''
                      this.idForTodo++
                  },
                  removeTodo(index) {
                      this.todos.splice(index, 1)
                  }
              }
            })
    </script>
</body>
</html>